.create-form-item-fields {
  .ant-form-item-label {
    min-width: 0;
  }

  .array-fields {
    .rich-text-input-wrapper {
      display: inline-block;
      width: 60%;
      max-width: 60%;
      min-width: 60%;
    }

    .dynamic-delete-button {
      margin-left: 15px;
      flex-shrink: 0;
    }

    .ant-form-item-control {
      display: flex;
      align-items: center;
    }
  }
}