* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    display: flex;
    width: 100%;
}

.schema-list-wrapper {
    width: 200px;
    flex-shrink: 0;
}

.schema-table-panel {
    flex: 1;
    flex-basis: 500px;
    /*flex-grow: 0;*/
    overflow: hidden;
}